.result_label{
	height: 16px;
	color: white;
	text-align: right;
	display: block;
	font-family: Arial;
	font-size: 13px;
	background-color: rgb(67, 52, 55);
	padding-top: 5px;
	padding-right: 8px;
  }
  
  .result_input{
	text-align: right;
	background-color: rgb(67, 52, 55);
	color: white;
	border: none;
	height: 25px;
	width: 159px;
	padding-right: 5px;
	font-weight: bold;
  }
  
  